@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-Light.woff2') format('woff2'),
       url('/fonts/PlusJakartaSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
       url('/fonts/PlusJakartaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-Medium.woff2') format('woff2'),
       url('/fonts/PlusJakartaSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-SemiBold.woff2') format('woff2'),
       url('/fonts/PlusJakartaSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Red border when they have no alt attribute */
img:not([alt]) {
  border: 3px dashed hsl(0, 100%, 50%);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ************************* */
/*         Variables         */
/* ************************* */

:root {
  --clr-primary-purple:            #635FC7;
  --clr-primary-light-purple:      #635FC71A;
  --clr-primary-light-deep-purple: #A8A4FF;
  --clr-primary-light-blue:        #364E7E1A;
  --clr-primary-red:               #EA5555;
  --clr-primary-light-red:         #EA55551A;

  --clr-neutral-000: white;
  --clr-neutral-100: #F4F7FD;
  --clr-neutral-600: #828FA3;
  --clr-neutral-800: #2B2C37;
  --clr-neutral-900: #20212C;

  --ff: 'Plus Jakarta Sans', sans-serif;

  --base-size: 14px;

  --ratio: 1.067;

  --scale-100: calc(var(--scale-200) / var(--ratio));
  --scale-200: calc(var(--scale-300) / var(--ratio));
  --scale-300: calc(var(--scale-400) / var(--ratio));
  --scale-400: var(--base-size);
  --scale-500: calc(var(--scale-400) * var(--ratio));
  --scale-600: calc(var(--scale-500) * var(--ratio));
  --scale-700: calc(var(--scale-600) * var(--ratio));
  --scale-800: calc(var(--scale-700) * var(--ratio));
  --scale-900: calc(var(--scale-800) * var(--ratio));

  --br-sm: 36em;
  --br-md: 48em;
  --br-lg: 62em;
}

/* ************************* */
/*       General style       */
/* ************************* */

body {
  font-family: var(--ff);
  font-size: var(--scale-400);
  font-weight: 400;
}

body[data-theme="light"] {
  --bg-n-000-800: var(--clr-neutral-000);
  --bg-n-100-900: var(--clr-neutral-100);
  --bg-p-purple-n-000: var(--clr-primary-purple);
  --bg-p-light-purple-n-000: var(--clr-primary-light-purple);
  --bg-p-light-deep-purple-n-100: var(--clr-primary-light-deep-purple);
  --clr-transparent-n-600: transparent;
  --clr-n-600-000: var(--clr-neutral-600);
  --clr-n-900-000: var(--clr-neutral-900);
  --clr-n-000-p-purple: var(--clr-neutral-000);
}

body[data-theme="dark"] {
  --bg-n-000-800: var(--clr-neutral-800);
  --bg-n-100-900: var(--clr-neutral-900);
  --bg-p-purple-n-000: var(--clr-neutral-000);
  --bg-p-light-purple-n-000: var(--clr-neutral-000);
  --bg-p-light-deep-purple-n-100: var(--clr-neutral-100);
  --clr-transparent-n-600: var(--clr-neutral-600);
  --clr-n-600-000: var(--clr-neutral-000);
  --clr-n-900-000: var(--clr-neutral-000);
  --clr-n-000-p-purple: var(--clr-primary-purple);
}

dialog {
  width: 480px;
  border-radius: 0.5rem;
  border: none;

  padding: 1.5rem;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

button {
  border: none;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  opacity: 60%;
}

button[disabled]:hover {
  opacity: 60%;
}

input, textarea, select {
  border: 1px solid var(--clr-transparent-n-600);
  border-radius: 0.5rem;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border-color: var(--clr-primary-purple);
}

select {
  appearance: none;

  background: no-repeat url("images/svg/icon-chevron-down.svg");
  background-position: top 50% right 10px;
}

label:has(input:checked) {
  text-decoration: line-through;
  color: var(--clr-neutral-600);
}

/* ************************* */
/*        Composition        */
/* ************************* */

.center-v {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* .box-v-80vh { */
/*   min-height: 80vh; */
/* } */

/* .box-v-90vh { */
/*   min-height: 90vh; */
/* } */

.center-v>* {
  margin-top: auto;
  margin-bottom: auto;
}

.center-h {
  box-sizing: content-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.column:only-child {
  block-size: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;

  --flex-grow: 0;
  --break: 0;
}

.row>* {
  flex-grow: var(--flex-grow, 0);
  flex-basis: calc((var(--break) - 100%) * 999);
}

.no-wrap {
  flex-wrap: nowrap;
}

.flex-1 {
  flex: 1;
}

.flex-5 {
  flex: 5;  /* flex-5 reel */
}

.with-left-sidebar {
  display: flex;
  flex-wrap: wrap;
}

.with-left-sidebar> :first-child {
  flex-basis: clamp(15rem, 30vw, 20rem);
  flex-grow: 1;
}

@media (max-width: 48em) {
  .with-left-sidebar> :first-child {
    flex-basis: 0;
  }
}

.with-left-sidebar> :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 50%;
}

.reel{
  --gap: 0rem;
  display: grid;
  gap: var(--gap);
  grid-auto-flow: column;
  grid-auto-columns: calc(40% - (var(--gap) / 2));
  grid-auto-columns: 300px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: var(--gap);
}

.reel > * {
  scroll-snap-align: start;
}

/* ************************* */
/*          Blocks           */
/* ************************* */

.lds-ripple {
  --size: 35px;
  --color: var(--clr-primary-purple);
  --border-width: 2px;
  --animation-time: 1s;
  
  top: calc(50% - var(--size) / 2);  
  right: 10%;
  
  color: var(--color);
  width: var(--size);
  height: var(--size);  
}
.lds-ripple div:nth-child(1),
.lds-ripple div:nth-child(1) div
{
  box-sizing: border-box;
}
.lds-ripple div:nth-child(1)
{
  display: inline-block;
  position: relative;
  width: var(--size);
  height: var(--size);
}
.lds-ripple div:nth-child(1) div
{
  position: absolute;
  border: var(--border-width) solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple var(--animation-time) cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(1) div:nth-child(2){
  animation-delay: calc(-1 * var(--animation-time) / 2);
}
@keyframes lds-ripple {
  0% {
    top: calc(50% - var(--border-width) / 2);
    left: calc(50% - var(--border-width) / 2);
    width: 2px;
    height: 2px;
    opacity: 0;
  }
  4.9% {
    top: calc(50% - var(--border-width) / 2);
    left: calc(50% - var(--border-width) / 2);
    width: 2px;
    height: 2px;
    opacity: 0;
  }
  5% {
    top: calc(50% - var(--border-width) / 2);
    left: calc(50% - var(--border-width) / 2);
    width: 2px;
    height: 2px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size);
    opacity: 0;
  }
}

.create-new-board-btn,
.edit-board-btn,
.add-new-task-btn {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;

  padding-left: 2rem;
  user-select: none; /* whether user can select text */

  width: 95%;
}

.create-new-board-btn:hover,
.edit-board-btn:hover,
.add-new-task-btn:hover {
  background: var(--bg-p-light-purple-n-000);
}

.hide-sidebar-btn {
  font-weight: 700;

  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 1rem;

  background-color: transparent;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.hide-sidebar-btn.hide {
  color: var(--clr-neutral-600);
}

.hide-sidebar-btn.show {
  opacity: 85%;
  color: var(--clr-neutral-000);
  background-color: var(--clr-primary-purple);
}

.hide-sidebar-btn.hide:hover {
  color: var(--clr-primary-purple);
  background-color: var(--bg-p-light-purple-n-000);
}

.hide-sidebar-btn.show:hover {
  opacity: 100%;
}

.boards-list-item {
  position: relative;
  
  font-weight: 700;
  color: var(--clr-neutral-600);

  display: flex;
  align-items: center;
  gap: 1rem;

  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;

  padding-block: 1rem;
  padding-left: 2rem;
  margin-right: 1rem;

  user-select: none;
  cursor: pointer;
}

.boards-list-item.selected {
  background: var(--clr-primary-purple);
  color: var(--clr-neutral-000);
}

.boards-list-item:hover {
  background: var(--bg-p-light-purple-n-000);
  color: var(--clr-primary-purple);
}

.task-item {
  background-color: var(--bg-n-000-800);
  color: var(--clr-n-900-000);

  padding: 1.5rem 1rem;

  cursor: pointer;
  user-select: none;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px var(--clr-primary-light-blue);
}

.task-item:hover {
  color: var(--clr-primary-purple);
}

.toggle {
  --toggle-padding: 3px;
  --toggle-size: 14px;
  --width: 44px;
  --height: calc(var(--toggle-size) + var(--toggle-padding) * 2);
  --tr-X: calc(var(--width) - var(--toggle-size) - var(--toggle-padding) * 2);
  --toggle-bg: var(--clr-primary-purple);
  --toggle-clr: var(--clr-neutral-100);

  position: relative;
  display: inline-block;

  width: var(--width);
  height: var(--height);
}
/* Hide default HTML checkbox */
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: var(--toggle-bg);
  border-radius: 5rem;

  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.toggle-background:before {
  content: "";

  position: absolute;
  left: var(--toggle-padding);
  bottom: var(--toggle-padding);

  /* toggle thumb */
  width: var(--toggle-size);
  height: var(--toggle-size);
  border-radius: 50%;
  background: var(--toggle-clr);

  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked+.toggle-background:before {
  -webkit-transform: translateX(var(--tr-X));
  -ms-transform: translateX(var(--tr-X));
  transform: translateX(var(--tr-X));
}

/* Primary Input is a fine pointer device such as a mouse or stylus */
@media (pointer:fine) {
  .toggle-background {
    cursor: pointer;
  }

  .toggle-background:hover {
    background: var(--clr-primary-light-deep-purple);
  }

  input:focus-visible+.toggle-background {
    box-shadow: 0 0 0 2px black;
  }

  @supports (-moz-appearance:none) {
    input:focus-visible+.toggle-background {
      box-shadow: 0 0 0 2px rgb(17, 97, 247);
    }
  }
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;;

  background-color: var(--bg-n-000-800);
}

@media (max-width: 48em) {
  .dropdown-list {
    width: clamp(250px, 70vw, 400px);
    height: 450px;

    position: absolute;
    top: 5rem;
    left: calc(50% - calc(clamp(250px, 70vw, 400px) / 2));

    border-radius: 0.5rem;

    overflow-y: auto;
    z-index: 1;
  }
}

.dropdown-list-toggle-btn {
  background-color: transparent;
  border-width: 0;
}

.dropdown-list-toggle-btn[aria-expanded="true"] {
  transform: rotate(180deg);
}

.close-btn {
  background: no-repeat url("./images/svg/icon-cross.svg") center;

  width:  35px;
  height: 35px;
  border-radius: 50%;
}

.close-btn:hover {
  background-color: var(--bg-n-100-900);
}

/* ************************* */
/*         Utilities         */
/* ************************* */

.sr-only {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media (max-width: 48em) {
  .m\:display-none {
    display: none;
  }
}

@media (min-width: 48em) {
  .md\:display-none {
    display: none;
  }
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.main-axis-center {
  justify-content: center;
}

.main-axis-end {
  justify-content: flex-end;
}

.main-axis-space-between {
  justify-content: space-between;
}

.cross-axis-center {
  align-items: center;
}

.cross-axis-start {
  align-items: flex-start;
}

.pad-h-m {
  padding-inline: 1rem;
}

.pad-h-l {
  padding-inline: 2rem;
}

.pad-v-sm {
  padding-block: 0.5rem;
}

.pad-v-m {
  padding-block: 1rem;
}

.pad-left-l { /* "ALL BOARDS" text */
  padding-left: 2rem;
}

.pad-bottom-m {
  padding-bottom: 1rem;
}

.pad-sm {
  padding: 0.5rem;
}

.pad-m {
  padding: 1rem;
}

.mar-top-l {
  margin-top: 3.25rem;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-m {
  gap: 1rem;
}

.gap-d-sm-m {
  gap: clamp(0.5rem, 4vw, 1rem);
}

.gap-l {
  gap: 2rem;
}

.text-center {
  text-align: center;
}

.letter-spacing-m {
  letter-spacing: 2.5px;
}

.border-radius-sm {
  border-radius: 0.25rem;
}

.border-radius-m {
  border-radius: 0.5rem;
}

.border-radius-l {
  border-radius: 1.5rem;
}

.cursor-pointer {
  cursor: pointer;
}

.transparent {
  background-color: transparent;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.fs-200 {
  font-size: var(--scale-200);
}

.fs-300 {
  font-size: var(--scale-300);
}

.fs-d-300-900 {
  font-size: clamp(var(--scale-300), 4vw, var(--scale-900));
}

.fs-500 {
  font-size: var(--scale-500);
}

.fs-900 {
  font-size: var(--scale-900);
}

.clr-n-000 {
  color: var(--clr-neutral-000);
}

.clr-n-000-p-purple {
  color: var(--clr-n-000-p-purple);
}

.clr-n-600 {
  color: var(--clr-neutral-600);
}

.clr-n-600-000 {
  color: var(--clr-n-600-000);
}

.clr-n-900-000 {
  color: var(--clr-n-900-000);
}

.clr-p-light-purple {
  color: var(--clr-primary-light-purple);
}

.clr-p-purple {
  color: var(--clr-primary-purple);
}

.clr-p-purple\:hover:hover {
  color: var(--clr-primary-purple);
}

.bg-n-000 {
  background-color: var(--clr-neutral-000);
}

.bg-n-100 {
  background-color: var(--clr-neutral-100);
}

.bg-n-600 {
  background-color: var(--clr-neutral-600);
}

.bg-n-800 {
  background-color: var(--clr-neutral-800);
}

.bg-n-900 {
  background-color: var(--clr-neutral-900);
}

.bg-p-red {
  opacity: 85%;
  background-color: var(--clr-primary-red);
}

.bg-p-purple {
  opacity: 85%;
  background-color: var(--clr-primary-purple);
}

.bg-p-purple-n-000 {
  opacity: 85%;
  background-color: var(--bg-p-purple-n-000);
}

.bg-p-red:hover,
.bg-p-purple:hover,
.bg-p-purple-n-000:hover {
  opacity: 100%;
}

.bg-p-light-purple\:hover:hover { /* checklist item */
  background-color: var(--clr-primary-light-purple);
}

.bg-n-000-800 {
  background-color: var(--bg-n-000-800);
}

.bg-n-100-900 {
  background-color: var(--bg-n-100-900);
}
