@font-face {
    font-family: 'Nunito Sans 10pt';
    src: url('fonts/NunitoSans10pt-Light.woff2') format('woff2'),
        url('fonts/NunitoSans10pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 10pt';
    src: url('fonts/NunitoSans10pt-SemiBold.woff2') format('woff2'),
        url('fonst/NunitoSans10pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 10pt';
    src: url('fonts/NunitoSans10pt-ExtraBold.woff2') format('woff2'),
        url('fonts/NunitoSans10pt-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove default padding */
ul,
ol {
    padding: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Red border when they have no alt attribute */
img:not([alt]) {
    border: 3px dashed hsl(0, 100%, 50%);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ************************* */
/*         Variables         */
/* ************************* */

:root {
    --clr-bg-ligth: hsl(0, 0%, 98%);
    --clr-bg-element-ligth: hsl(0, 0%, 100%);
    --clr-text-ligth: hsl(200, 15%, 8%);
    --clr-input-ligth: hsl(0, 0%, 52%);

    --clr-bg-dark: hsl(207, 26%, 17%);
    --clr-bg-element-dark: hsl(209, 23%, 22%);
    --clr-text-dark: hsl(0, 0%, 100%);

    --ff: 'Nunito Sans 10pt', sans-serif;

    --base-size: 16px;

    --ratio: 1.2;

    --scale-100: calc(var(--scale-200) / var(--ratio));
    --scale-200: calc(var(--scale-300) / var(--ratio));
    --scale-300: calc(var(--scale-400) / var(--ratio));
    --scale-400: var(--base-size);
    --scale-500: calc(var(--scale-400) * var(--ratio));
    --scale-600: calc(var(--scale-500) * var(--ratio));
    --scale-700: calc(var(--scale-600) * var(--ratio));
    --scale-800: calc(var(--scale-700) * var(--ratio));
    --scale-900: calc(var(--scale-800) * var(--ratio));

    --br-sm: 36em;
    --br-md: 48em;
    --br-lg: 62em;
}

/* ************************* */
/*       General style       */
/* ************************* */

body {
    font-family: var(--ff);
    font-size: var(--scale-400);
    font-weight: 400;
    background-color: var(--clr-bg);
    color: var(--clr-text);
}

body[data-theme="light"] {
    --clr-bg: var(--clr-bg-ligth);
    --clr-bg-element: var(--clr-bg-element-ligth);
    --clr-text: var(--clr-text-ligth);
    --clr-input: var(--clr-input-ligth);
}

body[data-theme="dark"] {
    --clr-bg: var(--clr-bg-dark);
    --clr-bg-element: var(--clr-bg-element-dark);
    --clr-text: var(--clr-text-dark);
    --clr-input: var(--clr-text-dark);
}

body>header {
    position: fixed;

    top: 0;
    width: 100%;
    z-index: 1;
}

main {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

footer {
    position: fixed;

    bottom: 0;
    width: 100%;
}

input,
select,
button {
    border: none;
}

button {
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ************************* */
/*        Composition        */
/* ************************* */

.center-v {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
}

.center-v>* {
    margin-top: auto;
    margin-bottom: auto;
}

.center-h {
    box-sizing: content-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column {
    display: flex;
    flex-direction: column;
}

.column:only-child {
    block-size: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;

    --flex-grow: 0;
    --break: 0;
}

.row>* {
    flex-grow: var(--flex-grow, 0);
    flex-basis: calc((var(--break) - 100%) * 999);
}

.break-m {
    --break: var(--br-md);
    --flex-grow: 1;
}

.content {
    --content-width: 140ch;
    --large-breakout-inline-padding: 5rem;
    --small-breakout-inline-padding: 2rem;

    --gap: clamp(1rem, 6vw, 3rem);
    --content: min(var(--content-width), 100% - var(--gap) * 2);
    --full-width: minmax(var(--gap), 1fr);
    --large-breakout: minmax(0, var(--large-breakout-inline-padding));
    --small-breakout: minmax(0, var(--small-breakout-inline-padding));

    display: grid;
    grid-template-columns:
        [full-width-start breakout-left-start] var(--full-width) [large-breakout-start] var(--large-breakout) [small-breakout-start] var(--small-breakout) [content-start breakout-right-start] var(--content) [content-end breakout-left-end] var(--small-breakout) [small-breakout-end] var(--large-breakout) [large-breakout-end] var(--full-width) [full-width-end breakout-right-end];
}

.content>* {
    grid-column: content;
}

.full-width {
    grid-column: full-width;
}

@media (max-width: 36em) {
    .m\:content {
        --content-width: 140ch;
        --large-breakout-inline-padding: 5rem;
        --small-breakout-inline-padding: 2rem;

        --gap: clamp(1rem, 6vw, 3rem);
        --content: min(var(--content-width), 100% - var(--gap) * 2);
        --full-width: minmax(var(--gap), 1fr);
        --large-breakout: minmax(0, var(--large-breakout-inline-padding));
        --small-breakout: minmax(0, var(--small-breakout-inline-padding));

        display: grid;
        grid-template-columns:
            [full-width-start breakout-left-start] var(--full-width) [large-breakout-start] var(--large-breakout) [small-breakout-start] var(--small-breakout) [content-start breakout-right-start] var(--content) [content-end breakout-left-end] var(--small-breakout) [small-breakout-end] var(--large-breakout) [large-breakout-end] var(--full-width) [full-width-end breakout-right-end];
    }

    .m\:content>* {
        grid-column: content;
    }
}

.grid {
    display: grid;
    justify-items: stretch;
}

.grid.break-25ch {
    --minimum: 25ch;
}

@supports (width: min(var(--minimum), 100%)) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(min(var(--minimum), 100%), 1fr));
    }
}

/* ************************* */
/*          Blocks           */
/* ************************* */

.dark-mode-icon {
    width: clamp(15px, 3vw, 20px);
}

.search-element {
    position: relative;
    width: 500px;
}

.search-element input[type="search"] {
    background-image: url("images/search-light.svg");
    background-repeat: no-repeat;
    background-size: clamp(20px, 3vw, 30px);
    background-position: clamp(10px, 3vw, 40px) center;
    width: 100%;
}

body[data-theme="dark"] .search-element input[type="search"] {
    background-image: url("images/search-dark.svg");
}

.search-element input[type="search"]::placeholder {
    color: var(--clr-input);
}

.search-element .clear-btn {
    position: absolute;

    top: 50%;
    right: 0;
    transform: translateY(-50%);

    display: block;
    background-color: var(--clr-bg-element-ligth);

    width: clamp(45px, 5vw, 50px);
}

body[data-theme="dark"] .search-element .clear-btn {
    background-color: var(--clr-bg-element-dark);
}

.search-element>input:placeholder-shown+.clear-btn {
    display: none;
}

.filter-element {
    position: relative;

    width: 300px;
}

.filter-element select {
    width: 100%;
    appearance: none;
}

.filter-element::after {
    content: url('images/arrow-down-light.svg');

    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

    width: 30px;
    height: 30px;
}

body[data-theme="dark"] .filter-element::after {
    content: url('images/arrow-down-dark.svg');
}

.filter-element:focus-within:after {
    transform: translateY(-50%) rotate(180deg);
}

.country-card {
    position: relative;
    border-radius: 0.35rem;
    transition: transform 0.1s ease-in;
}

.country-card a {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.country-card:hover,
.country-card:focus-within {
    transform: scale(1.025);
}

.country-card img {
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
}

.country-card>.column {
    padding-top: 2rem;
    padding-inline: 1.5rem;
    padding-bottom: 3rem;
}

.country-card>.column h3 {
    margin-bottom: 1rem;
}

.back-btn {
    position: relative;
    padding-left: 3.5rem;
    padding-right: 2rem;
    padding-block: 0.5rem;
}

.back-btn::after {
    content: url('images/arrow-back-light.svg');

    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    width: 30px;
    height: 30px;
}

body[data-theme="dark"] .back-btn::after {
    content: url('images/arrow-back-dark.svg');
}

.country-flag {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* ************************* */
/*         Utilities         */
/* ************************* */

.sr-only {
    position: absolute;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.main-axis-space-between {
    justify-content: space-between;
}

.cross-axis-start {
    align-items: flex-start;
}

.cross-axis-center {
    align-items: center;
}

.mar-bottom-sm {
    margin-bottom: 0.5rem;
}

.pad-v-sm {
    padding-block: 0.5rem;
}

.pad-v-m {
    padding-block: 1rem;
}

.pad-v-d-m-l {
    padding-block: clamp(2rem, 5vw, 3rem);
}

.pad-h-m {
    padding-inline: 1rem;
}

.pad-h-d-m-l {
    padding-left: clamp(3rem, 7vw, 5rem);
    padding-right: clamp(0.5rem, 2vw, 1rem);
}

.pad-m {
    padding: 1rem;
}

.gap-d-xsm-sm {
    gap: clamp(0.15rem, 1vw, 0.5rem);
}

.gap-m {
    gap: 1rem;
}

.gap-l {
    gap: 2.5rem;
}

.gap-xl {
    gap: 4rem;
}

.overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.underline {
    text-decoration: underline;
}

.shimmer-effect {
    animation-duration: 2.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: linear-gradient(to right, var(--clr-bg-ligth) 8%, #dbdbdb 18%, var(--clr-bg-ligth) 33%);
    background-size: 730px 100%;
}

body[data-theme="dark"] .shimmer-effect {
    background: linear-gradient(to right, var(--clr-bg-dark) 8%, #2d3b48 18%, var(--clr-bg-dark) 33%);
    background-size: 730px 100%;
}

@keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.border-radius-sm {
    border-radius: 0.25rem;
}

.box-shadow-top {
    box-shadow: 0 -3px 5px 0 var(--clr-input);
}

.box-shadow-bottom {
    box-shadow: 0 3px 5px 0 var(--clr-input);
}

body[data-theme="dark"] .box-shadow-top,
body[data-theme="dark"] .box-shadow-bottom {
    box-shadow: none;
}

.fw-light {
    font-weight: 300;
}

.fw-semibold {
    font-weight: 600;
}

.fw-extrabold {
    font-weight: 800;
}

.fs-300-400 {
    font-size: clamp(var(--scale-300), 2vw, var(--scale-400));
}

.fs-300-600 {
    font-size: clamp(var(--scale-300), 2vw, var(--scale-600));
}

.fs-400-500 {
    font-size: clamp(var(--scale-400), 2vw, var(--scale-500));
}

.fs-500 {
    font-size: var(--scale-500);
}

.fs-600 {
    font-size: var(--scale-600);
}

.fs-900 {
    font-size: var(--scale-900);
}

.clr-bg-element {
    background-color: var(--clr-bg-element);
}

.clr-text {
    color: var(--clr-text);
}