<li>
  <a
    style="--image_path: url('/public/images/icons/<%= data.params.whiteIcon %>');"
    target="_blank"    
    class="<%= data.params.bgColor %>"
    href="<%= data.url %>">
    <%= data.params.title %>
  </a>
</li>
