/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class]
ol[class]
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove default padding */
ul[class]
ol[class] {
    padding: 0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
    border: 3px dashed hsl(0, 100%, 50%);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
     
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ************************* */
/*         Variables         */
/* ************************* */

:root {

    --clr-primary-000: hsl(0, 0%, 100%);
    --clr-primary-200: hsl(240, 18%, 77%);
    --clr-primary-900: hsl(240, 38%, 20%);

    --ff: 'Inter', sans-serif;

    --base-size: 17px;

    --ratio: 1.2;

    --scale-100: calc(var(--scale-200) / var(--ratio));
    --scale-200: calc(var(--scale-300) / var(--ratio));
    --scale-300: calc(var(--scale-400) / var(--ratio));
    --scale-400: var(--base-size);
    --scale-500: calc(var(--scale-400) * var(--ratio));
    --scale-600: calc(var(--scale-500) * var(--ratio));
    --scale-700: calc(var(--scale-600) * var(--ratio));
    --scale-800: calc(var(--scale-700) * var(--ratio));
    --scale-900: calc(var(--scale-800) * var(--ratio));

    --br-sm: 36em;
    --br-md: 48em;
    --br-lg: 62em;
}

/* ************************* */
/*       General style       */
/* ************************* */

body {
    background: url(images/pattern-curve.svg) left bottom/80%;
    background-repeat: no-repeat;
    font-family: var(--ff);
    font-size: calc(var(--scale-400) + 0.4vw);
}

@media (min-width: 36em) {
    body {
        background: url(images/pattern-curve.svg) left bottom/min(500px, 60%);
        background-repeat: no-repeat;
    }
}

img {
    width: clamp(270px, 35vw, 550px);
    border-radius: 0.5rem;
}

button {
    border: none;
    width: 3rem;
    height: 2.7rem;
    --border-radius: 1.5rem;
    transition: transform 0.2s ease;
}

@media (pointer:fine) {
    button{
        cursor: pointer;
    }
     
    button:hover{
        transform: scale(1.05);
    }
}

/* ************************* */
/*        Composition        */
/* ************************* */

.center {
    box-sizing: content-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 65ch;
}

.gutters-m {
    padding-inline: 2rem;
}

.column {
    display: flex;
    flex-direction: column;
}

.column:only-child {
    block-size: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;

    --flex-grow: 0;
    --break: 0;
}

.row>* {
    flex-grow: var(--flex-grow, 0);
    flex-basis: calc((var(--break) - 100%) * 999);
}

.break-m {
    --break: var(--br-md);
    --flex-grow: 1;
}

@media (max-width: 36em) {
    .m\:break {
        --break: 301px;
        --flex-grow: 1;
    }
}

.cover {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

.cover>article {
    margin-top: auto;
    margin-bottom: auto;
}

/* ************************* */
/*          Blocks           */
/* ************************* */

.button-left {
    background: url(images/icon-prev.svg) no-repeat center/22%;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.button-right {
    background: url(images/icon-next.svg) no-repeat center/22%;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.slider {
    border-radius: 0.5rem;
}

.slider::before {
    content: '';

    background: url(images/pattern-bg.svg) no-repeat center/100%;
    position: absolute;
    top: clamp(-80px, -5vw, -45px);
    left: clamp(-60px, -5vw, -35px);

    height: clamp(350px, 45vw, 680px);
    width: clamp(350px, 45vw, 680px);

    z-index: -1;
}

.slider-photo {
    box-shadow: 10px 10px 30px 1px var(--clr-primary-900);
}

.slider-photo[data-animated="true"] {
    animation: photoAnimation 0.3s ease;
}

@keyframes photoAnimation {
    0% {
        transform: scale(1);
        filter: blur(4px);
    }

    50% {
        transform: scale(0.95);
        filter: blur(2px);
    }

    100% {
        transform: scale(1);
        filter: blur(0px);
    }
}

.slider-controller {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

    filter: drop-shadow(0 15px 20px var(--clr-primary-900));
}

@media (min-width: 36em) {
    .slider-controller {
        left: 0;
        transform: translate(50%, 50%);
    }
}

.testimonial-block[data-animated="true"] {
    animation: animatedOpacity 0.5s ease;
}

@media (min-width: 36em) {
    .testimonial-block {
        position: absolute;
        width: 500px;
        left: 20px;
    }
}

@keyframes animatedOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.testimonial-text::before {
    content: '';

    background: url(images/pattern-quotes.svg) no-repeat center/100%;
    position: absolute;

    top: -30px;
    left: 50%;
    transform: translate(-50%, 0);

    width: clamp(60px, 10vw, 80px);
    height: clamp(60px, 10vw, 80px);
}

@media (min-width: 36em) {
    .testimonial-text::before {
        top: -50px;
        left: 60px;
        transform: translate(0, 0);
    }
}

.testimonial-author {
    width: clamp(300px, 30vw, 550px);
}

/* ************************* */
/*         Utilities         */
/* ************************* */

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

@media (max-width: 36em) {
    .m\:main-axis-center {
        justify-content: center;
    }
}

.cross-axis-center {
    align-items: center;
}

@media (max-width: 36em) {
    .m\:cross-axis-center {
        align-items: center;
    }
}

.gap-sm {
    gap: clamp(0rem, 1vw, 0.5rem);
}

.gap-m {
    gap: 1rem;
}

.gap-l {
    gap: 4rem;
}

.pad-sm {
    padding: 0.5rem;
}

.pad-m {
    padding: 1rem;
}

.pad-top {
    padding-top: 8vh;
}

.line-height-normal {
    line-height: normal;
}

.center-text {
    text-align: center;
}

@media (max-width: 36em) {
    .m\:center-text {
        text-align: center;
    }
}

.relative {
    position: relative;
}

@media (min-width: 36em) {
    .sm\:row-reverse {
        flex-flow: row-reverse;
    }
}

.fw-light {
    font-weight: 300;
}

.fw-medium {
    font-weight: 500;
}

.fw-bold {
    font-weight: 700;
}

.fs-200 {
    font-size: var(--scale-200);
}

.fs-300 {
    font-size: var(--scale-300);
}

.fs-400 {
    font-size: var(--scale-400);
}

.clr-p-200 {
    color: var(--clr-primary-200);
}

.clr-p-900 {
    color: var(--clr-primary-900);
}

.bg-p-000 {
    background-color: var(--clr-primary-000);
}