@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('fonts/BarlowSemiCondensed-SemiBold.woff2') format('woff2'),
        url('fonts/BarlowSemiCondensed-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow Semi Condensed';
    src: url('fonts/BarlowSemiCondensed-Bold.woff2') format('woff2'),
        url('fonts/BarlowSemiCondensed-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove default padding */
ul,
ol {
    padding: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Red border when they have no alt attribute */
img:not([alt]) {
    border: 3px dashed hsl(0, 100%, 50%);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ************************* */
/*         Variables         */
/* ************************* */

:root {
    --clr-primary-scissors-from: hsl(39, 89%, 49%);
    --clr-primary-scissors-to: hsl(40, 84%, 53%);
    --clr-primary-scissors-shadow: hsl(40, 100%, 30%);

    --clr-primary-paper-from: hsl(230, 89%, 62%);
    --clr-primary-paper-to: hsl(230, 89%, 65%);
    --clr-primary-paper-shadow: hsl(230, 97%, 56%);

    --clr-primary-rock-from: hsl(349, 71%, 52%);
    --clr-primary-rock-to: hsl(349, 70%, 56%);
    --clr-primary-rock-shadow: hsl(349, 72%, 41%);

    --clr-primary-lizard-from: hsl(261, 73%, 60%);
    --clr-primary-lizard-to: hsl(261, 72%, 63%);
    --clr-primary-lizard-shadow: hsl(261, 100%, 60%);

    --clr-primary-spock-from: hsl(189, 59%, 53%);
    --clr-primary-spock-to: hsl(189, 58%, 57%);
    --clr-primary-spock-shadow: hsl(188, 100%, 30%);

    --clr-primary-bg-from: hsl(214, 47%, 23%);
    --clr-primary-bg-to: hsl(237, 49%, 15%);

    --clr-neutral-000: hsl(0, 0%, 100%);
    --clr-neutral-070: hsla(219, 44%, 28%, 0.9);
    --clr-neutral-080: hsla(219, 44%, 28%, 0.5);
    --clr-neutral-090: hsla(219, 60%, 23%, 0.5);
    --clr-neutral-100: hsl(0, 0%, 80%);
    --clr-neutral-400: hsl(217, 16%, 45%);
    --clr-neutral-600: hsl(229, 64%, 46%);
    --clr-neutral-800: hsl(229, 25%, 31%);

    --ff: 'Barlow Semi Condensed', sans-serif;

    --base-size: 16px;

    --ratio: 1.333;

    --scale-100: calc(var(--scale-200) / var(--ratio));
    --scale-200: calc(var(--scale-300) / var(--ratio));
    --scale-300: calc(var(--scale-400) / var(--ratio));
    --scale-400: var(--base-size);
    --scale-500: calc(var(--scale-400) * var(--ratio));
    --scale-600: calc(var(--scale-500) * var(--ratio));
    --scale-700: calc(var(--scale-600) * var(--ratio));
    --scale-800: calc(var(--scale-700) * var(--ratio));
    --scale-900: calc(var(--scale-800) * var(--ratio));

    --br-sm: 36em;
    --br-md: 48em;
    --br-lg: 62em;
}

/* ************************* */
/*       General style       */
/* ************************* */

body {
    background: linear-gradient(var(--clr-primary-bg-from) 60%, var(--clr-primary-bg-to));
    color: var(--clr-neutral-000);
    font-family: var(--ff);
    font-size: var(--scale-400);
    font-weight: 600;
}

@media (min-width: 48em) {
    body {
        background: linear-gradient(var(--clr-primary-bg-from) 30%, var(--clr-primary-bg-to));
    }
}

button {
    cursor: pointer;
    border: none;
}

dialog {
    border: none;
    height: 100%;
    opacity: 0;
    transform: translate(0, 15%);
}

dialog[open] {
    animation: fade-in 0.25s ease-out forwards;
}

@keyframes fade-in {
    100% {
        opacity: 1;
        transform: translate(0, 0);
        display: block;
    }
}

dialog::backdrop {
    background-color: #fff;
}

dialog button {
    position: absolute;

    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: transparent;
    padding: 1rem;
}

dialog>img {
    margin-block: 5rem;
}

@media (min-width: 48em) {
    dialog {
        border-radius: 0.5rem;
        padding: 2.5rem;
        height: fit-content;
    }

    dialog::backdrop {
        background-color: hsl(237, 49%, 15%);
        opacity: 0.8;
    }

    dialog button {
        position: static;

        bottom: 0;
        left: 0;
        transform: translate(0, 0);
        padding: 0;
    }

    dialog>img {
        margin-block: 0;
        margin-top: 2rem;
    }
}


/* ************************* */
/*        Composition        */
/* ************************* */

.column {
    display: flex;
    flex-direction: column;
}

.column:only-child {
    block-size: 100%;
}

@media (min-width: 48em) {
    .md\:reverse {
        flex-direction: column-reverse;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;

    --flex-grow: 0;
    --break: 0;
}

.row>* {
    flex-grow: var(--flex-grow, 0);
    flex-basis: calc((var(--break) - 100%) * 999);
}

.content {
    --content-width: 80ch;
    --large-breakout-inline-padding: 5rem;
    --small-breakout-inline-padding: 2rem;

    --gap: clamp(1rem, 6vw, 3rem);
    --content: min(var(--content-width), 100% - var(--gap) * 2);
    --full-width: minmax(var(--gap), 1fr);
    --large-breakout: minmax(0, var(--large-breakout-inline-padding));
    --small-breakout: minmax(0, var(--small-breakout-inline-padding));

    display: grid;
    grid-template-columns:
        [full-width-start breakout-left-start] var(--full-width) [large-breakout-start] var(--large-breakout) [small-breakout-start] var(--small-breakout) [content-start breakout-right-start] var(--content) [content-end breakout-left-end] var(--small-breakout) [small-breakout-end] var(--large-breakout) [large-breakout-end] var(--full-width) [full-width-end breakout-right-end];
}

.content>* {
    grid-column: content;
}

.breakout-l {
    grid-column: large-breakout;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.grid>:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
}

.grid>:nth-child(3) {
    grid-column: 1/3;
    grid-row: 2;
}

@media (min-width: 48em) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid>:nth-child(2) {
        grid-column: 3;
    }

    .grid>:nth-child(3) {
        grid-column: 2;
        grid-row: 1;
    }
}

/* ************************* */
/*          Blocks           */
/* ************************* */

.logo {
    height: clamp(60px, 10vw, 130px);
}

.score {
    border: 4px solid var(--clr-neutral-400);
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding: 1rem;
}

.score button {
    position: absolute;

    background-color: var(--clr-neutral-000);
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--clr-neutral-400);
}

.score button:hover {
    scale: 1.05;
}

.score button:nth-of-type(1) {
    top: -15px;
    left: -15px;
}

.score button:nth-of-type(2) {
    top: -15px;
    right: -15px;
}

.game {
    position: relative;

    background: no-repeat url('images/bg-triangle.svg');
    z-index: 0;
    background-size: contain;
    background-position: center;
    width: clamp(200px, 50vw, 300px);
    height: clamp(200px, 50vw, 300px);
    margin-inline: auto;
}

.game[data-theme='bonus'] {
    background: no-repeat url('images/bg-pentagon.svg');
    background-size: contain;
    background-position: center;
    width: clamp(200px, 50vw, 400px);
    height: clamp(200px, 50vw, 400px);
}

.game-btn {
    position: relative;

    display: grid;
    place-content: center;

    width: clamp(70px, 15vw, 100px);
    height: clamp(70px, 15vw, 100px);
    background-color: var(--clr-neutral-000);

    border-radius: 50%;
    box-shadow: inset 0 3px 0 clamp(1px, 0.5vw, 3px) var(--clr-neutral-100);
}

.game-btn::before,
.game-btn::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    width: clamp(90px, 20vw, 130px);
    height: clamp(90px, 20vw, 130px);
    border-radius: 50%;
    z-index: -1;
}

.game-btn img {
    width: clamp(25px, 6vw, 35px);
    height: clamp(35px, 7vw, 45px);
}

[data-theme="scissors"]::after {
    background: linear-gradient(to top, var(--clr-primary-scissors-from), var(--clr-primary-scissors-to));
    box-shadow: 0 2px 0 clamp(1px, 0.5vw, 3px) var(--clr-primary-scissors-shadow);
}

[data-theme="paper"]::after {
    background: linear-gradient(to top, var(--clr-primary-paper-from), var(--clr-primary-paper-to));
    box-shadow: 0 2px 0 clamp(1px, 0.5vw, 3px) var(--clr-primary-paper-shadow);
}

[data-theme="rock"]::after {
    background: linear-gradient(to top, var(--clr-primary-rock-from), var(--clr-primary-rock-to));
    box-shadow: 0 2px 0 clamp(1px, 0.5vw, 3px) var(--clr-primary-rock-shadow);
}

[data-theme="lizard"]::after {
    background: linear-gradient(to top, var(--clr-primary-lizard-from), var(--clr-primary-lizard-to));
    box-shadow: 0 2px 0 clamp(1px, 0.5vw, 3px) var(--clr-primary-lizard-shadow);
}

[data-theme="spock"]::after {
    background: linear-gradient(to top, var(--clr-primary-spock-from), var(--clr-primary-spock-to));
    box-shadow: 0 2px 0 clamp(1px, 0.5vw, 3px) var(--clr-primary-spock-shadow);
}

[data-status="win"]::before {
    z-index: -2;
    animation: box-shadow-loop 2s ease-in forwards;
}

@keyframes box-shadow-loop {

    20%,
    60%,
    100% {
        box-shadow: 0 0 0 clamp(10px, 5vw, 30px) var(--clr-neutral-070),
            0 0 0 clamp(40px, 11vw, 70px) var(--clr-neutral-080),
            0 0 0 clamp(70px, 17vw, 120px) var(--clr-neutral-090);
    }

    40%,
    80% {
        box-shadow: none;
    }
}

.game-btn.xl {
    width: clamp(90px, 20vw, 230px);
    height: clamp(90px, 20vw, 230px);
}

.game-btn.xl::before,
.game-btn.xl::after {
    width: clamp(120px, 27vw, 300px);
    height: clamp(120px, 27vw, 300px);
}

.game-btn.xl img {
    width: clamp(35px, 9vw, 75px);
    height: clamp(45px, 10vw, 105px);
}

.game-btn.xl[data-theme="empty"] {
    background-color: var(--clr-primary-bg-to);
    box-shadow: none;
}

.game-btn.xl[data-theme="empty"]::before {
    width: clamp(115px, 20vw, 170px);
    height: clamp(115px, 20vw, 170px);
    background: transparent;
    box-shadow: none;
}

.game>li {
    cursor: pointer;

    position: absolute;
    transition: scale 0.15s ease-in;
}

.game>li:hover {
    scale: 1.025;
}

.game>li:nth-child(1),
.game>li:nth-child(2),
.game>li:nth-child(3),
.game>li:nth-child(4),
.game>li:nth-child(5) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-timing-function: ease-in;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

.game[data-theme='bonus']>li:nth-child(1),
.game[data-theme='bonus']>li:nth-child(2),
.game[data-theme='bonus']>li:nth-child(3),
.game[data-theme='bonus']>li:nth-child(4),
.game[data-theme='bonus']>li:nth-child(5) {
    animation-duration: 0.15s;
}

.game>li:nth-child(1) {
    animation-name: scissors-default;
}

@keyframes scissors-default {
    30% {
        transform: translate(-50%, -50%);
    }

    50% {
        transform: translate(80%, -175%);
    }

    100% {
        transform: translate(80%, -175%);
    }
}

.game>li:nth-child(2) {
    animation-name: paper-default;
}

@keyframes paper-default {
    30% {
        transform: translate(-180%, -175%);
    }

    100% {
        transform: translate(-180%, -175%);
    }
}

.game>li:nth-child(3) {
    animation-name: rock-default;
}

@keyframes rock-default {
    60% {
        transform: translate(-50%, -50%);
    }

    80% {
        transform: translate(-50%, 35%);
    }

    100% {
        transform: translate(-50%, 35%);
    }
}

.game>li:nth-child(4),
.game>li:nth-child(5) {
    display: none;
}

.game[data-theme='bonus']>li:nth-child(4),
.game[data-theme='bonus']>li:nth-child(5) {
    display: list-item;
}

.game[data-theme='bonus']>li:nth-child(1) {
    animation-name: scissors-bonus;
}

@keyframes scissors-bonus {
    100% {
        top: 0;
    }
}

.game[data-theme='bonus']>li:nth-child(2) {
    animation-name: paper-bonus;
}

@keyframes paper-bonus {
    100% {
        top: 40%;
        left: 100%;
    }
}

.game[data-theme='bonus']>li:nth-child(3) {
    animation-name: rock-bonus;
}

@keyframes rock-bonus {
    100% {
        top: 100%;
        left: 80%;
    }
}

.game[data-theme='bonus']>li:nth-child(4) {
    animation-name: lizard-bonus;
}

@keyframes lizard-bonus {
    100% {
        top: 100%;
        left: 20%;
    }
}

.game[data-theme='bonus']>li:nth-child(5) {
    animation-name: spock-bonus;
}

@keyframes spock-bonus {
    100% {
        left: 0;
        top: 40%
    }
}

.rules {
    position: fixed;
    left: 50%;
    bottom: 2rem;
    translate: -50%;

    background-color: var(--clr-primary-bg-to);
    border: 2px solid var(--clr-neutral-400);
    color: var(--clr-neutral-000);
    padding-inline: 2.5rem;
    padding-block: 0.35rem;

    transition: scale 0.15s ease-in;
}

.rules:hover {
    scale: 1.025;
}

@media (min-width: 48em) {
    .rules {
        left: auto;
        right: 2rem;
        translate: 0;
    }
}

.play-again {
    background-color: var(--clr-neutral-000);
    color: var(--clr-neutral-800);
    font-weight: 700;
    padding-inline: 4rem;
    padding-block: 0.75rem;
    transition: scale 0.15s ease-in;
}

.play-again:hover {
    scale: 1.025;
}

.btn-theme {
    letter-spacing: 1px;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

/* ************************* */
/*         Utilities         */
/* ************************* */

.sr-only {
    position: absolute;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.relative {
    position: relative;
}

.main-axis-center {
    justify-content: center;
}

.main-axis-space-between {
    justify-content: space-between;
}

@media (min-width: 48em) {
    .md\:main-axis-space-between {
        justify-content: space-between;
    }
}

.cross-axis-center {
    align-items: center;
}

@media (min-width: 48em) {
    .md\:cross-axis-center {
        align-items: center;
    }
}

.pad-v-d-sm-m {
    padding-block: clamp(0.5rem, 2vw, 1rem);
}

.pad-h-d-m-l {
    padding-inline: clamp(1.5rem, 5vw, 2.5rem);
}

.pad-sm {
    padding: 0.5rem;
}

.mar-top-d-xl-xxl {
    /* margin-block: clamp(4rem, 13vw, 9rem); */
    margin-top: clamp(4rem, 13vw, 9rem);
}

.gap-l {
    gap: 3rem;
}

.gap-d-l-xl {
    gap: clamp(3rem, 6vw, 7rem);
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.letter-spacing-m {
    letter-spacing: 1px;
}

.line-height-normal {
    line-height: 1;
}

.border-radius-sm {
    border-radius: 0.5rem;
}

.fw-bold {
    font-weight: 700;
}

.fs-d-300-400 {
    font-size: clamp(var(--scale-300), 3vw, var(--scale-400));
}

.fs-d-400-500 {
    font-size: clamp(var(--scale-400), 3vw, var(--scale-500));
}

.fs-d-600-700 {
    font-size: clamp(var(--scale-600), 4vw, var(--scale-700));
}

.fs-d-800-900 {
    font-size: clamp(var(--scale-800), 7vw, var(--scale-900));
}

.fs-800 {
    font-size: var(--scale-800);
}

.clr-n-600 {
    color: var(--clr-neutral-600);
}

.clr-n-800 {
    color: var(--clr-neutral-800);
}

.bg-n-000 {
    background-color: var(--clr-neutral-000);
}