<button class="<%= cls %> { mar-v-m btn-theme bg-p-purple clr-n-000 }" <% if (disabled) { %>disabled<% } %>>
  <div class="row gap-sm main-axis-center cross-axis-center">
    <%= title %>
    <img class="clock-spinner" src="/images/icons/clock.svg" data-visible="false" height="14" width="14" alt="">
  </div>
</button>
