<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Linksharing API challenge on Frontend Mentor">
  <meta name="keywords" content="Frontend Mentor, Frontend, Mentor, HTML, CSS, Responsive, Mobile, Desktop, Alex Kolykhalov">  
  <title>Frontend Mentor | Linksharing app</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
