<div
  class="phone-mockup-badge { row cross-axis-center <%= link.params.bgColor %> clr-n-000 border-radius-sm }"
  style="--image_path: url('/images/icons/<%= link.params.whiteIcon %>');">
  <%= link.params.title %>
</div>
