<button class="logout-btn { btn-theme pad-h-d-sm-m bg-p-purple clr-n-000 }">
  <div class="row gap-sm main-axis-center cross-axis-center">
    <img class="md--display-none" alt="" src="/images/icons/icon-logout.svg">
    <span class="m--display-none">Log out</span>
    <img
      class="clock-spinner"
      data-visible="false"
      height="14"
      width="14"
      alt=""
      src="/images/icons/clock.svg">
  </div>
</button>
