<a href="/preview"
   class="preview-link { btn-theme pad-h-d-sm-m border-clr-p-purple clr-p-purple }"
   aria-label="Go to Preview page"
   data-visible="true">
  <div class="row gap-sm">
    <img class="md--display-none" alt="" src="/images/icons/icon-preview-header.svg">
    <span class="m--display-none">Preview</span>
  </div>
</a>
