/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove default padding */
ul,
ol {
    padding: 0;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Red border when they have no alt attribute */
img:not([alt]) {
    border: 3px dashed hsl(0, 100%, 50%);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ************************* */
/*         Variables         */
/* ************************* */

:root {
    --clr-primary-000: hsl(0, 0%, 100%);
    --clr-primary-300: hsl(0, 0%, 63%);
    --clr-primary-600: hsl(0, 0%, 27%);
    --clr-primary-900: hsl(0, 0%, 0%);

    --ff: 'League Spartan', sans-serif;

    --base-size: 12px;

    --ratio: 1.333;

    --scale-100: calc(var(--scale-200) / var(--ratio));
    --scale-200: calc(var(--scale-300) / var(--ratio));
    --scale-300: calc(var(--scale-400) / var(--ratio));
    --scale-400: var(--base-size);
    --scale-500: calc(var(--scale-400) * var(--ratio));
    --scale-600: calc(var(--scale-500) * var(--ratio));
    --scale-700: calc(var(--scale-600) * var(--ratio));
    --scale-800: calc(var(--scale-700) * var(--ratio));
    --scale-900: calc(var(--scale-800) * var(--ratio));

    --br-sm: 36em;
    --br-md: 48em;
    --br-lg: 62em;
}

/* ************************* */
/*       General style       */
/* ************************* */

body {
    font-family: var(--ff);
    font-size: var(--scale-400);
    font-weight: 500;
}

section img {
    object-fit: cover;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

svg {
    display: block;
}

/* ************************* */
/*        Composition        */
/* ************************* */

.box-h-m {
    max-width: 391px;
}

.box-h-l {
    max-width: 700px;
}

.box-h-xl {
    max-width: 1440px;
}

.center-h {
    box-sizing: content-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column {
    display: flex;
    flex-direction: column;
}

.column:only-child {
    block-size: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;

    --flex-grow: 0;
    --break: 0;
}

.row>* {
    flex-grow: var(--flex-grow, 0);
    flex-basis: calc((var(--break) - 100%) * 999);
}

.no-wrap {
    flex-wrap: nowrap;
}

.flex-2 {
    flex: 2;
}

.break-m {
    --break: var(--br-lg);
    --flex-grow: 1;
}

.break-l {
    --break: 1118px;
    --flex-grow: 1;
}

/* ************************* */
/*          Blocks           */
/* ************************* */

.shadow {
    position: fixed;
    z-index: 2;

    width: 100vw;
    height: 100vh;

    translate: 0 -100%;

    transition:
        background-color 0.2s ease-in,
        translate 0.2s ease-in;
}

.logo {
    position: absolute;
    top: 47px;
    left: 50%;
    translate: -50% -50%;

    z-index: 1;
}

@media (min-width: 48em) {
    .logo {
        left: 10%;
    }
}

.header-nav-btn {
    background: no-repeat url(images/icon-hamburger.svg);
    background-size: contain;
    width: 20px;
    height: 16px;

    margin: 0;
    padding: 0;

    position: absolute;
    top: 42px;
    left: 1.5rem;
    z-index: 3;
}

.header-nav-btn[aria-expanded="true"] {
    background: no-repeat url(images/icon-close.svg);
}

.header-nav-list {
    position: absolute;
    z-index: 2;

    background-color: var(--clr-primary-000);
    height: 100px;
    width: 100%;
    padding: 1.5rem;

    transform-origin: left bottom;

    transform: rotateZ(-90deg);
    transition: transform 0.2s ease-in;
}

@media (min-width: 48em) {
    .header-nav-list {
        transform: none;

        background-color: transparent;
        left: 18%;
        width: auto;
    }
}

.header-nav-btn[aria-expanded="true"]~.header-nav-list {
    transform: rotateZ(0deg);
}

.header-nav-btn[aria-expanded="true"]~.shadow {
    background-color: rgba(0, 0, 0, 0.5);
    translate: 0% 0%;
}

.header-nav-list a {
    position: relative;

    display: inline-block;

    padding-block: 5px;

    color: var(--clr-primary-900);

    font-weight: 700;
    letter-spacing: -1px;
}

@media (min-width: 48em) {
    .header-nav-list a {
        color: var(--clr-primary-000);
        font-weight: 500;
    }
}

@media (pointer:fine) {
    .header-nav-list a:after {
        content: "";

        display: block;

        background: var(--clr-primary-000);

        position: absolute;
        bottom: 0;
        left: 50%;

        width: 0;
        height: 2px;

        transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }

    .header-nav-list a:hover:after {
        left: 25%;
        width: 50%;
    }
}

.carousel-controllers {
    --top: 0px;
    --left: 0px;

    position: absolute;
    translate: var(--left) var(--top);
    z-index: 1;
}

.carousel-controllers>button {
    border: 1px solid var(--clr-primary-900);
    background-color: var(--clr-primary-900);

    width: clamp(60px, 6vw, 80px);
    height: clamp(60px, 6vw, 80px);

    transition: background-color 0.1s ease-in, border 0.1s ease-in;
}

.carousel-controllers>button:hover {
    border: 1px solid var(--clr-primary-600);
    background-color: var(--clr-primary-600);
}

.carousel-controllers>button>img {
    width: clamp(11px, 2vw, 15px);
    height: clamp(16px, 2vw, 24px);
}

.carousel-images {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    grid-auto-rows: 100%;
    align-items: flex-start;
    overflow: hidden;
}

.carousel-images>li {
    translate: calc(var(--i) * -100%) 0;
    transition: translate 0.3s ease-in;
}

.carousel-images img {
    width: 100%;
    height: 100%;
}

.cta,
.cta>a {
    transition: color 0.2s ease-in;
}

.cta>a {
    color: var(--clr-primary-900);
    font-size: var(--scale-500);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 9px;
}

.cta:hover,
.cta:hover>a {
    color: var(--clr-primary-300);
    cursor: pointer;
}

/* ************************* */
/*         Utilities         */
/* ************************* */

.sr-only {
    position: absolute;
    width: 0px;
    height: 0px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.relative {
    position: relative;
}

.main-axis-center {
    justify-content: center;
}

.main-axis-end {
    justify-content: flex-end;
}

.cross-axis-center {
    align-items: center;
}

.pad-v-m {
    padding-block: 1rem;
}

.mar-d-h-s {
    margin: clamp(1.5rem, 6vw, 3rem);
}

.mar-d-h-m {
    margin: clamp(1.5rem, 6vw, 5.5rem);
}

.gap-m {
    gap: 1rem;
}

.gap-l {
    gap: 2rem;
}

.gap-d-m-l {
    gap: clamp(1rem, 2vw, 2rem);
}

.text-end {
    text-align: end;
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.line-height {
    line-height: 1;
}

.letter-spacing-xs {
    letter-spacing: -2px;
}

.letter-spacing-s {
    letter-spacing: -0.5px;
}

.letter-spacing-l {
    letter-spacing: 3px;
}

.letter-spacing-xl {
    letter-spacing: 9px;
}

.fw-semibold {
    font-weight: 600;
}

.fw-bold {
    font-weight: 700;
}

.fs-500 {
    font-size: var(--scale-500);
}

.fs-800 {
    font-size: var(--scale-800);
}

.fs-d-800-900 {
    font-size: clamp(var(--scale-800), 4vw, var(--scale-900));
}

.clr-p-000 {
    color: var(--clr-primary-000);
}

.clr-p-300 {
    color: var(--clr-primary-300);
}

/* ************************* */
/*         Exceptions        */
/* ************************* */

[data-visible="false"] {
    display: none;
}